/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.content-box {
  background-color: #222222;
  padding: .5em;
}
.label {
  text-transform: uppercase;
  background-color: #222288;
  font-size: .75em;
  padding: .125em .5em;
  position: relative;
  top: -0.25em;
}
html {
  font-family: 'Andale Mono';
  line-height: 1.5em;
  font-size: 18px;
  background-color: #333333;
  color: white;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
header {
  background-color: #222222;
  padding: .5em;
  margin: 1em;
}
div.NCSDashboard {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  margin: 0em 1em 1em 1em;
  /*-webkit-transform lowers proc usage by pushing some rendering to the gpu, results may vary*/

  -webkit-transform: translatez(0);
}
div.column {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 100%;
  margin-right: 1em;
}
div.column:nth-child(3) {
  margin-right: 0;
}
div.widget {
  background-color: #222222;
  padding: .5em;
  margin-bottom: 1em;
}
div.widget ul.common {
  margin-bottom: .5em;
  zoom: 1;
}
div.widget ul.common:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
div.widget ul.common li {
  float: left;
  margin-right: 10px;
}
div.widget ul.common li:before {
  text-transform: uppercase;
  background-color: #222288;
  font-size: .75em;
  padding: .125em .5em;
  position: relative;
  top: -0.25em;
  margin-right: 5px;
}
div.widget ul.common li.key:before {
  content: "key";
}
div.widget ul.common li.count:before {
  content: "count";
}
div.widget ul.common li.freq:before {
  content: "freq";
}
div.widget .custom {
  position: relative;
}
div.widget .custom {
  min-height: 1em;
}
div.widget .custom .value {
  position: absolute;
}
div.widget .custom .indicator {
  margin-left: 8em;
}
.indicator.bar {
  position: relative;
  height: 1em;
  background-color: black;
}
.indicator.bar .thumb {
  position: absolute;
  height: 1em;
  width: 2px;
  margin-left: -1px;
  left: 50%;
  background-color: white;
}
.indicator.bar .min,
.indicator.bar .max {
  color: #555;
  position: absolute;
}
.indicator.bar .min {
  left: 2px;
}
.indicator.bar .max {
  right: 2px;
}
.indicator.light {
  position: relative;
  height: 1em;
  width: 1em;
  background-color: red;
}
.indicator.light.on {
  background-color: green;
}
.display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
